$border-radius-primary: 70px;
$border-radius-secondary: 30px;

$border-color-green: #3fbf3f;

$background-color-primary: #eee;
$background-color-secondary: #fff;
$background-color-blue: #53abff;

$text-color-primary: #444;
$text-color-secondary: #7a7979;
$text-color-green: #3fbf3f;
$text-color-white: #fff;
$text-color-blue: #53abff;
